title{ 
	display:block; 

	text-align:center; 
	font-size:25px; 
	background-color: #FF00FF; 
	color: black; 
	font-family: Comic Sans MS
	border: 3px solid white; 
    margin:0.2em;  
    padding:0.2em;
	} 

name, age, type, difficulty
{ 
	display:block; 
	text-align:center;
	font-family: Comic Sans MS
}
 
name { 
	color:#FA0000;
	font-weight:bolder; 
	font-size:20px; 
	} 
age { 
	color:#109ACC
	} 
type { 
	color:#58CC14
	} 
difficulty{ 
	color:#C9B008
	} 
